.sidebarContainer {
  position: absolute;
  z-index: 2;
  width: 100%;
  font-size: xx-large;
  
  a{
    text-decoration: none;
    color: beige;
    .menuIcon{
      color: wheat;
      position: absolute;
      top: 20px;
      left: 15px;
    }
    .closeIcon{
      color: beige;
    }
    
  }

  nav {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    background: #074d5d;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @keyframes moveInLeft {
      0% {
        opacity: 0;
        transform: translateY(-30px);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .navDivWrp{
      margin-left: 20px;
      padding: 30px 0px;
      font-size: x-large;
    }
  }

  .menuIconClose {
    position: absolute;
    top: 20px;
    left: 15px;
    transform: scale(1,1)
  }
}
